################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CMS.IDS4/obj
/CMS.IDS4/bin/Debug/netcoreapp2.2
/CMS.Master/API/bin/Debug/netcoreapp2.2
/CMS.Master/API/obj
/CMS.Master/App/bin/Debug/netcoreapp2.2
/CMS.Master/App/obj
/CMS.ProtectedModules/Proposals/API/bin/Debug/netcoreapp2.2
/CMS.ProtectedModules/Proposals/API/obj
/CMS.ProtectedModules/Proposals/App/bin/Debug/netcoreapp2.2
/CMS.ProtectedModules/Proposals/App/obj
/CMS.ProtectedModules/Quotes/API/bin/Debug/netcoreapp2.2
/CMS.ProtectedModules/Quotes/API/obj
/CMS.ProtectedModules/Quotes/App/bin/Debug/netcoreapp2.2
/CMS.ProtectedModules/Quotes/App/obj
/FourWallsInc.Enterprise/DataAccess/src/bin/Debug/netcoreapp2.2
/FourWallsInc.Enterprise/DataAccess/src/obj
/FourWallsInc.Enterprise/DataAccess/tst/bin/Debug/netcoreapp2.2
/FourWallsInc.Enterprise/DataAccess/tst/obj
/FourWallsInc.Enterprise/Entity/src/bin/Debug/netcoreapp2.2
/FourWallsInc.Enterprise/Entity/src/obj
/FourWallsInc.Enterprise/Infrastructure/src/bin/Debug/netcoreapp2.2
/FourWallsInc.Enterprise/Infrastructure/src/obj
/FourWallsInc.Enterprise/Utilities/src/bin/Debug/netcoreapp2.2
/FourWallsInc.Enterprise/Utilities/src/obj
/FourWallsInc.Enterprise/Utilities/tst/obj
/FourWallsInc.Enterprise/WebUI/src/bin/Debug/netcoreapp2.2
/FourWallsInc.Enterprise/WebUI/src/obj
