@{
	Layout = null;
	ViewData ["Title"] = "Not implemented yet.";
}

<h2>Oops! This sub module task is not yet implemented. This page is a placeholder from Master Layout Application.</h2>
<h3>Please contact CMS application administrator. Thank you.</h3>
